.calculator-header,
.calculator-header div {
  display: flex;
}

.calculator-header {
  justify-content: space-between;
  align-items: center;
  height: 20px;
  padding: 5px 10px;
  background: #555;
}

.calculator-header div {
  gap: 5px;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.close {
  background: #ff5f57;
}
.minimize {
  background: #ffbd2e;
}
.maximize {
  background: #28c840;
}

.clock {
  color: #fff;
  cursor: pointer;
}
