<div class="calculator">
  <div class="calculator-header">
    <div class="circle close"></div>
    <div class="circle minimize"></div>
    <div class="circle maximize"></div>
  </div>

  <div class="display">{{ result }}</div>

  @for(row of rows; track row.id) {
  <div class="row">
    @for(operator of row.rowOperators; track operator; let last = $last) {
    <button
      class="btn"
      [class.orange]="last"
      [class.wide]="operator === '0'"
      (click)="calculate(operator)"
    >
      {{ operator }}
    </button>
    }
  </div>
  }
</div>
